@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card-cad" style="border-radius: 15px;">
                        <div class="card-body p-5 mb-3">
                            <h2 class="text-uppercase text-center mb-4 uppercaseUser">Fazer login</h2>
                            <section>
                                <form id="account" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Input.Email" class="form-label">Insira seu email</label>
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Input.Password" class="form-label">Insira sua senha</label>
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <div class="checkbox mb-3">
                                            <label asp-for="Input.RememberMe" class="form-check-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="d-grid">
                                        <button id="login-submit" type="submit">Entrar</button>
                                    </div>

                                    <div class="d-flex gap-3 flex-wrap justify-content-center mt-3">
                                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar nova conta</a>
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmação</a>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}